<h1>About</h1>

<p>

Hey,

I'm Waruna. Welcome to Brumblr. This app was built in Tal Safran's <%= link_to "Ruby on Rails class on skillshare" , "http://skillshare.talsafran.com" %>.
It's meant for anyone to post anything. Have fun and enjoy! 

</p>
